STACK_VERSION=9.4.0
ELASTICSEARCH_PASSWORD=password
ELASTICSEARCH_HEAP_MIN=128m
ELASTICSEARCH_HEAP_MAX=1g
KIBANA_PASSWORD=password
KIBANA_ENCRYPTION_KEY=GsRtLGKnnuvwVQ3lqSS5kGScdfpmgEDA
GOVERSION=1.26.0
TF_ELASTICSTACK_INCLUDE_EXPERIMENTAL=true
FLEET_IMAGE=docker.elastic.co/elastic-agent/elastic-agent
