*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
bin/
dist/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
.terraform.lock.hcl
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
*.vscode
__debug_*

website/vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf

terraform-provider-elasticstack
dist
certs
.ci/.gpg_*
.ci/.github_*
.terraform.lock.hcl
.claudedocs/