---
subcategory: ""
page_title: "Using the Elastic Stack provider with Elastic Cloud"
description: |-
    An example of how to spin up a deployment and configure it in a single plan.
---

# Using the Elastic Stack provider with Elastic Cloud

A common scenario for using the Elastic Stack provider, is to manage & configure Elastic Cloud deployments.
In order to do that, we'll use both the Elastic Cloud provider, as well as the Elastic Stack provider.

Start off by configuring just the Elastic Cloud provider in a `provider.tf` file for example:

{{ tffile "examples/cloud/provider.tf" }}

Note that the provider needs to be configured with an API key which has to be created in the [Elastic Cloud console](https://www.elastic.co/guide/en/cloud/current/ec-api-authentication.html). With the provider configured, we can now use it to create some deployments. Here, we're creating two deployments -- one for your data, and the other is setup as a separate monitor. 

{{ tffile "examples/cloud/deployment.tf" }}

Notice that the Elastic Stack  provider setup with empty `elasticsearch {}` block, since we'll be using an `elasticsearch_connection` block
for each of our resources, to point to the Elastic Cloud deployment.

Now we can add resources to these deployments as follows:

{{ tffile "examples/cloud/stack_resources.tf" }}

Note that resources can be targed to certain deployments using the `provider` attribute. 
