---
subcategory: ""
page_title: "Using the Elastic Stack provider with Elastic Cloud"
description: |-
    An example of how to spin up a deployment and configure it in a single plan.
---

# Using the Elastic Stack provider with Elastic Cloud



## Creating deployments

A common scenario for using the Elastic Stack provider, is to manage & configure Elastic Cloud deployments.
In order to do that, we'll use both the Elastic Cloud provider, as well as the Elastic Stack provider.

Start off by configuring just the Elastic Cloud provider in a `provider.tf` file for example:

{{ tffile "examples/cloud/provider.tf" }}

Note that the provider needs to be configured with an API key which has to be created in the [Elastic Cloud console](https://www.elastic.co/guide/en/cloud/current/ec-api-authentication.html). With the provider configured, we can now use it to create some deployments. Here, we're creating two deployments -- one for your data, and the other is setup as a separate monitor. 

{{ tffile "examples/cloud/deployment.tf" }}

Notice that the Elastic Stack  provider setup with empty `elasticsearch {}` block, since we'll be using an `elasticsearch_connection` block
for each of our resources, to point to the Elastic Cloud deployment.



## Managing stack resources and configuration

Now we can add resources to these deployments as follows:

{{ tffile "examples/cloud/stack_resources.tf" }}

Note that resources can be targed to certain deployments using the `provider` attribute. 

## Example: Creating an index threshold rule

You can use rules to detect complex conditions and generate alerts and actions when those conditions are met.

For example, let's take a simple data stream that contains some logs or metrics:

{{ tffile "examples/resources/elasticstack_elasticsearch_data_stream/resource-index-rule.tf" }}

You can define an index threshold rule to detect when your data stream exceeds a threshold.
In this simple example, the rule checks whether the count of all documents in the data stream exceeds 10 over a period of 1 day:

{{ tffile "examples/resources/elasticstack_kibana_alerting_rule/resource-index-rule.tf" }}

NOTE: When you've finished playing with this example, remember to destroy the rule resource, since it has a low threshold and generates a lot of documents for testing purposes.

There are many different methods that you can use to be notified when the threshold is met and when it recovers.
In this example, the rule uses an index connector to write a document in an Elasticsearch index when the rule conditions are met:

{{ tffile "examples/resources/elasticstack_kibana_action_connector/resource-index-connector.tf" }}

The `executionTimeField` is optional; in this case we set it so that each document will contain a timestamp that indicates when the alert occurred.
For example, the index connector can generate documents in a simple index like this:

{{ tffile "examples/resources/elasticstack_elasticsearch_index/resource-index-rule.tf" }}

After you apply these resources, add some documents to the data stream:
https://www.elastic.co/guide/en/elasticsearch/reference/current/use-a-data-stream.html#add-documents-to-a-data-stream

For example:

````
PUT my-data-stream/_bulk
{ "create":{ } }
{ "@timestamp": "2023-07-04T16:21:15.000Z", "field1": "host1", "field2": "test message" }
{ "create":{ } }
{ "@timestamp": "2023-07-04T16:25:42.000Z", "field1": "host2", "field2": "test message" }

````

When the rule conditions are met, you'll start to see documents added to `my-index`.
Try out different rule action variables to customize the notification message:
https://www.elastic.co/guide/en/kibana/current/rule-action-variables.html

To learn about more types of rules and connectors, check out https://www.elastic.co/guide/en/kibana/current/rule-types.html and https://www.elastic.co/guide/en/kibana/current/action-types.html.


