---
subcategory: ""
page_title: "Using the Elastic Stack provider with multiple Elastic Cloud deployments"
description: |-
    An example of how to spin up multiple Elastic Cloud deployments and configure them using multiple Elastic Stack provider instances.
---

# Using the Elastic Stack provider with multiple Elastic Cloud deployments

Using aliased Elastic Stack providers allows managing multiple Elastic Cloud deployments (or self hosted Elasticsearch clusters).
In this example, we use both the Elastic Cloud provider, as well as the Elastic Stack provider.
We start off by configuring just the Elastic Cloud provider in a `provider.tf` file, for example:

{{ tffile "examples/cloud/provider.tf" }}

Next, we'll set up two Elastic Cloud `ec_deployment` resources, which represent Elastic Stack deployments on Elastic Cloud.
The `monitoring` deployment is configured as a dedicated monitoring deployment, with the `cluster` deployment configured to ship
monitoring data to the `monitoring` deployment.

We also configure two instances of the Elastic Stack provider, including an alias for the instance connected to the `monitoring` deployment.

Finally, we configure the Elastic Stack resources. When provisioning monitoring resources, we include an `provider = elasticstack.monitoring`
attribute to target the intended deployment. Aliased providers can be configured on a per-resource or per-module basis.
For more information consult the [documentation](https://developer.hashicorp.com/terraform/language/providers/configuration#alias-multiple-provider-configurations)

{{ tffile "examples/cloud/with_monitoring.tf" }}
