---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_pipeline Resource"
description: |-
  Manages Ingest Pipelines
---

# Resource: elasticstack_elasticsearch_ingest_pipeline

Use ingest APIs to manage tasks and resources related to ingest pipelines and processors. See: https://www.elastic.co/guide/en/elasticsearch/reference/current/ingest-apis.html

## Example Usage

You can provide your custom JSON definitions for the ingest processors:

{{ tffile "examples/resources/elasticstack_elasticsearch_ingest_pipeline/resource.tf" }}


Or you can use data sources and Terraform declarative way of defining the ingest processors:

{{ tffile "examples/resources/elasticstack_elasticsearch_ingest_pipeline/resource2.tf" }}


{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/elasticstack_elasticsearch_ingest_pipeline/import.sh" }}
