---
subcategory: "Security"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_security_role_mapping Resource"
description: |-
  Manage role mappings. See, https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-put-role-mapping.html
---

# Resource: elasticstack_elasticsearch_security_role_mapping

Manage role mappings. See, https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-put-role-mapping.html

## Example Usage

{{ tffile "examples/resources/elasticstack_elasticsearch_security_role_mapping/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/elasticstack_elasticsearch_security_role_mapping/import.sh" }}
