---
subcategory: "Index"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_data_stream Resource"
description: |-
  Manages Elasticsearch Data Streams
---

# Resource: elasticstack_elasticsearch_data_stream

Manages data streams. This resource can create, delete and show the information about the created data stream. See: https://www.elastic.co/guide/en/elasticsearch/reference/current/data-stream-apis.html

## Example Usage

{{ tffile "examples/resources/elasticstack_elasticsearch_data_stream/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/elasticstack_elasticsearch_data_stream/import.sh" }}
