---
subcategory: "Snapshot"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_snapshot_repository Resource"
description: |-
  Registers or updates a snapshot repository.
---

# Resource: elasticstack_elasticsearch_snapshot_repository

Registers or updates a snapshot repository. See: https://www.elastic.co/guide/en/elasticsearch/reference/current/put-snapshot-repo-api.html and https://www.elastic.co/guide/en/elasticsearch/reference/current/snapshots-register-repository.html

## Example Usage

{{ tffile "examples/resources/elasticstack_elasticsearch_snapshot_repository/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/elasticstack_elasticsearch_snapshot_repository/import.sh" }}
