---
subcategory: "Security"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_security_system_user Resource"
description: |-
  Updates system user's password and enablement.
---

# Resource: elasticstack_elasticsearch_security_system_user

Updates system user's password and enablement. See, https://www.elastic.co/guide/en/elasticsearch/reference/current/built-in-users.html
Since this resource is to manage built-in users, destroy will not delete the underlying Elasticsearch and will only remove it from Terraform state.

## Example Usage

{{ tffile "examples/resources/elasticstack_elasticsearch_security_system_user/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
