---
subcategory: "Index"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_index Resource"
description: |-
  Creates or updates an index.
---

# Resource: elasticstack_elasticsearch_index

Creates or updates an index. This resource can define settings, mappings and aliases. See: https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-create-index.html

## Example Usage

{{ tffile "examples/resources/elasticstack_elasticsearch_index/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

**NOTE:** While importing index resource, keep in mind, that some of the default index settings will be imported into the TF state too.
You can later adjust the index configuration to account for those imported settings.

Some of the default settings, which could be imported are: `index.number_of_replicas`, `index.number_of_shards` and `index.routing.allocation.include._tier_preference`.

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/elasticstack_elasticsearch_index/import.sh" }}
