---
subcategory: "Watcher"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_watcher_watch Resource"
description: |-
  Adds and manages a Watch.
---

# Resource: elasticstack_elasticsearch_watcher_watch

Adds and manages a Watch. See: https://www.elastic.co/guide/en/elasticsearch/reference/current/watcher-api.html

## Example Usage

{{ tffile "examples/resources/elasticstack_elasticsearch_watcher_watch/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/elasticstack_elasticsearch_watcher_watch/import.sh" }}
