---
subcategory: "Fleet"
layout: ""
page_title: "Elasticstack: elasticstack_fleet_package Resource"
description: |-
  Installs or uninstalls a Fleet integration package.
---

# Resource: elasticstack_fleet_package

Creates or updates a Fleet integration package.

To prevent the package from being uninstalled when the resource is destroyed,
set `skip_destroy` to `true`.

## Example Usage

{{ tffile "examples/resources/elasticstack_fleet_package/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
