---
subcategory: "Fleet"
layout: ""
page_title: "Elasticstack: elasticstack_fleet_output Resource"
description: |-
  Creates or updates a Fleet Output.
---

# Resource: elasticstack_fleet_output

Creates or updates a Fleet Output.

## Example Usage

### Basic output

{{ tffile "examples/resources/elasticstack_fleet_output/resource.tf" }}

### Basic Kafka output

{{ tffile "examples/resources/elasticstack_fleet_output/kafka_basic.tf" }}

### Advanced Kafka output

{{ tffile "examples/resources/elasticstack_fleet_output/kafka_advanced.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/elasticstack_fleet_output/import.sh" }}
