---
subcategory: "Fleet"
layout: ""
page_title: "Elasticstack: elasticstack_fleet_package Resource"
description: |-
  Installs or uninstalls a Fleet integration package.
---

# Resource: elasticstack_fleet_package

Installs or uninstalls a Fleet integration package. The Kibana Fleet UI can be
used to view available packages. Additional information for managing integration
packages can be found [here](https://www.elastic.co/guide/en/fleet/current/install-uninstall-integration-assets.html).

To prevent the package from being uninstalled when the resource is destroyed,
set `skip_destroy` to `true`.

## Example Usage

{{ tffile "examples/resources/elasticstack_fleet_package/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
