---
subcategory: "Kibana"
layout: ""
page_title: "Elasticstack: elasticstack_kibana_action_connector Resource"
description: |-
  Creates or updates a Kibana action connector. See https://www.elastic.co/guide/en/kibana/current/action-types.html
---

# Resource: elasticstack_kibana_action_connector

Creates or updates a Kibana action connector. See https://www.elastic.co/guide/en/kibana/current/action-types.html

## Example Usage

{{ tffile "examples/resources/elasticstack_kibana_action_connector/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/elasticstack_kibana_action_connector/import.sh" }}
