---
subcategory: "Kibana"
layout: ""
page_title: "Elasticstack: elasticstack_kibana_synthetics_monitor Resource"
description: |-
  Creates or updates a Kibana synthetics monitor.
---

# Resource: elasticstack_kibana_synthetics_monitor

Creates or updates a Kibana synthetics monitor.
See [API docs](https://www.elastic.co/guide/en/kibana/current/add-monitor-api.html)

## Supported monitor types
 * `http`
 * `tcp`

**NOTE:** Not all monitor fields are supported due-to API limitation.
Full field support could be implemented after this [kibana issue](https://github.com/elastic/kibana/issues/189906) is resolved.

**NOTE:** Due-to nature of partial update API, reset values to defaults is not supported.

In case you would like to reset an optional monitor value, please set it explicitly or delete and create new monitor.


## Example Usage

{{ tffile "examples/resources/elasticstack_kibana_synthetics_monitor/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/elasticstack_kibana_synthetics_monitor/import.sh" }}