---
subcategory: "Kibana"
layout: ""
page_title: "Elasticstack: elasticstack_kibana_maintenance_window Resource"
description: |-
  Manages Kibana maintenance windows.
---

# Resource: elasticstack_kibana_maintenance_window

Creates and manages Kibana [maintenance windows](https://www.elastic.co/docs/api/doc/kibana/group/endpoint-maintenance-window)

## Example Usage

{{ tffile "examples/resources/elasticstack_kibana_maintenance_window/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/elasticstack_kibana_maintenance_window/import.sh" }}
