---
subcategory: "Kibana"
layout: ""
page_title: "Elasticstack: elasticstack_kibana_space Resource"
description: |-
  Creates or updates a Kibana space.
---

# Resource: elasticstack_kibana_space

Creates or updates a Kibana space. See https://www.elastic.co/guide/en/kibana/master/xpack-spaces.html

## Example Usage

{{ tffile "examples/resources/elasticstack_kibana_space/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/elasticstack_kibana_space/import.sh" }}
