---
subcategory: "Kibana"
layout: ""
page_title: "Elasticstack: elasticstack_kibana_import_saved_objects Resource"
description: |-
  Create sets of Kibana saved objects from a file created by the export API.
---

# Resource: elasticstack_kibana_import_saved_objects

Create sets of Kibana saved objects from a file created by the export API. See https://www.elastic.co/guide/en/kibana/current/saved-objects-api-import.html

## Example Usage

{{ tffile "examples/resources/elasticstack_kibana_import_saved_objects/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is not supported.
