---
subcategory: "Kibana"
layout: ""
page_title: "Elasticstack: elasticstack_kibana_data_view Resource"
description: |-
  Manages Kibana data views.
---

# Resource: elasticstack_kibana_data_view

Creates and manages Kibana [data views](https://www.elastic.co/guide/en/kibana/current/data-views-api.html)

## Example Usage

{{ tffile "examples/resources/elasticstack_kibana_data_view/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/elasticstack_kibana_data_view/import.sh" }}
