---
layout: ""
page_title: "Provider: Elasticstack"
description: |-
  The Elasticstack provider provides the resources to interact with Elastic stack products.
---

# Elasticstack Provider

The Elasticstack provider provides the resources to interact with Elastic stack products.


It is recommended to setup at least minimum security, https://www.elastic.co/guide/en/elasticsearch/reference/current/security-minimal-setup.html
in order to interact with the Elasticsearch and be able to use the provider's full capabilities


## Authentication

The Elasticstack provider offers few different ways of providing credentials for authentication.
The following methods are supported:

* Static credentials
* Environment variables
* Each `elasticsearch` resource supports an `elasticsearch_connection` block, allowing use of the same provider to configure many different clusters at the same time


### Static credentials

Default static credentials can be provided by adding the `username`, `password` and `endpoints` in `elasticsearch` block:

{{tffile "examples/provider/provider.tf"}}

Alternatively an `api_key` can be specified instead of `username` and `password`:

{{tffile "examples/provider/provider-apikey.tf"}}

### Environment Variables

You can provide your credentials for the default connection via the `ELASTICSEARCH_USERNAME`, `ELASTICSEARCH_PASSWORD` and comma-separated list `ELASTICSEARCH_ENDPOINTS`,
environment variables, representing your user, password and Elasticsearch API endpoints respectively.

Alternatively the `ELASTICSEARCH_API_KEY` variable can be specified instead of `ELASTICSEARCH_USERNAME` and `ELASTICSEARCH_PASSWORD`.

{{tffile "examples/provider/provider-env.tf"}}


### Per resource credentials

See docs related to the specific resources.


## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
