---
layout: ""
page_title: "Provider: Elasticstack"
description: |-
  The Elasticstack provider provides the resources to interact with Elastic stack products.
---

# Elasticstack Provider

The Elasticstack provider provides the resources to interact with Elastic stack products.


It is recommended to setup at least minimum security, https://www.elastic.co/guide/en/elasticsearch/reference/current/security-minimal-setup.html
in order to interract with the Elasticsearch and be able to use the provider's full capabilities


## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
