---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_processor_html_strip Data Source"
description: |-
  Helper data source to create a processor which removes HTML tags from the field.
---

# Data Source: elasticstack_elasticsearch_ingest_processor_html_strip

Removes HTML tags from the field. If the field is an array of strings, HTML tags will be removed from all members of the array.

See: templates/data-sources/elasticsearch_ingest_processor_html_strip.md.tmpl


## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_ingest_processor_html_strip/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
