---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_processor_lowercase Data Source"
description: |-
  Helper data source to create a processor which converts a string to its lowercase equivalent.
---

# Data Source: elasticstack_elasticsearch_ingest_processor_lowercase

Converts a string to its lowercase equivalent. If the field is an array of strings, all members of the array will be converted.

See: https://www.elastic.co/guide/en/elasticsearch/reference/current/lowercase-processor.html


## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_ingest_processor_lowercase/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
