---
subcategory: "Index"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_indices Data Source"
description: |-
  Retrieves indices.
---

# Data Source: elasticstack_elasticsearch_indices

Use this data source to retrieve and get information about existing Elasticsearch indices. See, https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-get-index.html

## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_indices/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
