---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_processor_reroute Data Source"
description: |-
  Helper data source to create a processor which routeß a document to another target index or data stream.
---

# Data Source: elasticstack_elasticsearch_ingest_processor_reroute

Routes a document to another target index or data stream.

See: https://www.elastic.co/docs/reference/enrich-processor/reroute-processor


## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_ingest_processor_reroute/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
