---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_processor_registered_domain Data Source"
description: |-
  Helper data source to create a processor which Extracts the registered domain, sub-domain, and top-level domain from a fully qualified domain name.
---

# Data Source: elasticstack_elasticsearch_ingest_processor_registered_domain

Extracts the registered domain (also known as the effective top-level domain or eTLD), sub-domain, and top-level domain from a fully qualified domain name (FQDN). Uses the registered domains defined in the Mozilla Public Suffix List.

See: https://www.elastic.co/guide/en/elasticsearch/reference/current/registered-domain-processor.html


## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_ingest_processor_registered_domain/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
