---
subcategory: "Enrich"
page_title: "elasticstack_elasticsearch_enrich_policy Data Source - terraform-provider-elasticstack"
description: |-
  Returns information about an enrich policy. See: https://www.elastic.co/guide/en/elasticsearch/reference/current/get-enrich-policy-api.html
---

# Data Source: elasticstack_elasticsearch_enrich_policy

Returns information about an enrich policy. See: https://www.elastic.co/guide/en/elasticsearch/reference/current/get-enrich-policy-api.html

## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_security_role_mapping/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
