---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_processor_circle Data Source"
description: |-
  Helper data source to create a processor which converts circle definitions of shapes to regular polygons which approximate them.
---

# Data Source: elasticstack_elasticsearch_ingest_processor_circle

Helper data source to which can be used to create a processor to convert circle definitions of shapes to regular polygons which approximate them.

See: https://www.elastic.co/guide/en/elasticsearch/reference/current/ingest-circle-processor.html

## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_ingest_processor_circle/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}

