---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_processor_pipeline Data Source"
description: |-
  Helper data source to create a processor which executes another pipeline.
---

# Data Source: elasticstack_elasticsearch_ingest_processor_pipeline

Executes another pipeline.

The name of the current pipeline can be accessed from the `_ingest.pipeline` ingest metadata key.

See: https://www.elastic.co/guide/en/elasticsearch/reference/current/pipeline-processor.html


## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_ingest_processor_pipeline/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
