---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_processor_community_id Data Source"
description: |-
  Helper data source to create a processor which computes the Community ID for network flow data as defined in the Community ID Specification.  
---

# Data Source: elasticstack_elasticsearch_ingest_processor_community_id

Helper data source to which can be used to create a processor to compute the Community ID for network flow data as defined in the [Community ID Specification](https://github.com/corelight/community-id-spec). 
You can use a community ID to correlate network events related to a single flow.

The community ID processor reads network flow data from related [Elastic Common Schema (ECS)](https://www.elastic.co/guide/en/ecs/1.12) fields by default. If you use the ECS, no configuration is required.

See: https://www.elastic.co/guide/en/elasticsearch/reference/current/community-id-processor.html

## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_ingest_processor_community_id/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}

