---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_processor_uppercase Data Source"
description: |-
  Helper data source to create a processor which converts a string to its uppercase equivalent.
---

# Data Source: elasticstack_elasticsearch_ingest_processor_uppercase

Converts a string to its uppercase equivalent. If the field is an array of strings, all members of the array will be converted.

See: https://www.elastic.co/guide/en/elasticsearch/reference/current/uppercase-processor.html


## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_ingest_processor_uppercase/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
