---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_processor_fail Data Source"
description: |-
  Helper data source to create a processor which raises an exception.
---

# Data Source: elasticstack_elasticsearch_ingest_processor_fail

Raises an exception. This is useful for when you expect a pipeline to fail and want to relay a specific message to the requester.

See: https://www.elastic.co/guide/en/elasticsearch/reference/current/fail-processor.html


## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_ingest_processor_fail/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
