---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_processor_uri_parts Data Source"
description: |-
  Helper data source to create a processor which parses a Uniform Resource Identifier (URI) string and extracts its components as an object.
---

# Data Source: elasticstack_elasticsearch_ingest_processor_uri_parts

Parses a Uniform Resource Identifier (URI) string and extracts its components as an object. This URI object includes properties for the URI’s domain, path, fragment, port, query, scheme, user info, username, and password.

See: https://www.elastic.co/guide/en/elasticsearch/reference/current/uri-parts-processor.html


## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_ingest_processor_uri_parts/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
