---
subcategory: "security"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_security_user"
description: |-
  Get information about Elasticsearch user.
---

# Data Source: elasticstack_elasticsearch_security_user

Use this data source to get information about existing Elasticsearch user.

## Example Usage

{{tffile "examples/data-sources/elasticstack_elasticsearch_security_user/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
