---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_processor_date_index_name Data Source"
description: |-
  Helper data source to create a processor which helps to point documents to the right time based index based on a date or timestamp field in a document by using the date math index name support.
---

# Data Source: elasticstack_elasticsearch_ingest_processor_date_index_name

The purpose of this processor is to point documents to the right time based index based on a date or timestamp field in a document by using the date math index name support.

The processor sets the _index metadata field with a date math index name expression based on the provided index name prefix, a date or timestamp field in the documents being processed and the provided date rounding.

First, this processor fetches the date or timestamp from a field in the document being processed. Optionally, date formatting can be configured on how the field’s value should be parsed into a date. Then this date, the provided index name prefix and the provided date rounding get formatted into a date math index name expression. Also here optionally date formatting can be specified on how the date should be formatted into a date math index name expression.

See: https://www.elastic.co/guide/en/elasticsearch/reference/current/date-index-name-processor.html

## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_ingest_processor_date_index_name/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
