---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_processor_set Data Source"
description: |-
  Helper data source to create a processor which sets one field and associates it with the specified value.
---

# Data Source: elasticstack_elasticsearch_ingest_processor_set

Sets one field and associates it with the specified value. If the field already exists, its value will be replaced with the provided one.

See: https://www.elastic.co/guide/en/elasticsearch/reference/current/set-processor.html


## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_ingest_processor_set/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
