---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_processor_remove Data Source"
description: |-
  Helper data source to create a processor which removes existing fields.
---

# Data Source: elasticstack_elasticsearch_ingest_processor_remove

Removes existing fields. If one field doesn’t exist, an exception will be thrown.

See: https://www.elastic.co/guide/en/elasticsearch/reference/current/remove-processor.html


## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_ingest_processor_remove/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
