---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_processor_kv Data Source"
description: |-
  Helper data source to create a processor which helps automatically parse messages (or specific event fields) which are of the `foo=bar` variety.
---

# Data Source: elasticstack_elasticsearch_ingest_processor_kv

This processor helps automatically parse messages (or specific event fields) which are of the `foo=bar` variety.

See: https://www.elastic.co/guide/en/elasticsearch/reference/current/kv-processor.html


## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_ingest_processor_kv/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
