---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_processor_enrich Data Source"
description: |-
  Helper data source to create a processor which enriches documents with data from another index.
---

# Data Source: elasticstack_elasticsearch_ingest_processor_enrich

The enrich processor can enrich documents with data from another index. See enrich data section for more information about how to set this up.

See: https://www.elastic.co/guide/en/elasticsearch/reference/current/ingest-enriching-data.html and https://www.elastic.co/guide/en/elasticsearch/reference/current/enrich-processor.html

## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_ingest_processor_enrich/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
