---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_processor_bytes Data Source"
description: |-
  Helper data source to create a processor which converts a human readable byte value (e.g. 1kb) to its value in bytes (e.g. 1024).
---

# Data Source: elasticstack_elasticsearch_ingest_processor_bytes

Helper data source to which can be used to create a processor to convert a human readable byte value (e.g. 1kb) to its value in bytes (e.g. 1024). If the field is an array of strings, all members of the array will be converted.

Supported human readable units are "b", "kb", "mb", "gb", "tb", "pb" case insensitive. An error will occur if the field is not a supported format or resultant value exceeds 2^63.

## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_ingest_processor_bytes/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}

