---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_processor_json Data Source"
description: |-
  Helper data source to create a processor which converts a JSON string into a structured JSON object.
---

# Data Source: elasticstack_elasticsearch_ingest_processor_json

Converts a JSON string into a structured JSON object.

See: https://www.elastic.co/guide/en/elasticsearch/reference/current/json-processor.html

## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_ingest_processor_json/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
