---
subcategory: "Cluster"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_info Data Source"
description: |-
  Gets information about the Elasticsearch cluster.
---

# Data Source: elasticstack_elasticsearch_info

This data source provides the information about the configured Elasticsearch cluster

## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_info/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
