---
subcategory: "Index"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_index_template Data Source"
description: |-
  Retrieves index template.
---

# Data Source: elasticstack_elasticsearch_index_template

Use this data source to retrieve information about existing Elasticsearch index templates. See, https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-get-template.html

## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_index_template/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
