---
subcategory: "Snapshot"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_snapshot_repository Data Source"
description: |-
  Gets information about the registered snapshot repositories.
---

# Data Source: elasticstack_elasticsearch_snapshot_repository

This data source provides the information about the registered snaphosts repositories

## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_snapshot_repository/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
