---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_processor_urldecode Data Source"
description: |-
  Helper data source to create a processor which URL-decodes a string.
---

# Data Source: elasticstack_elasticsearch_ingest_processor_urldecode

URL-decodes a string. If the field is an array of strings, all members of the array will be decoded.

See: https://www.elastic.co/guide/en/elasticsearch/reference/current/urldecode-processor.html


## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_ingest_processor_urldecode/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
