---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_processor_gsub Data Source"
description: |-
  Helper data source to create a processor which converts a string field by applying a regular expression and a replacement.
---

# Data Source: elasticstack_elasticsearch_ingest_processor_gsub

Converts a string field by applying a regular expression and a replacement. If the field is an array of string, all members of the array will be converted. If any non-string values are encountered, the processor will throw an exception.

See: https://www.elastic.co/guide/en/elasticsearch/reference/current/gsub-processor.html


## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_ingest_processor_gsub/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
