---
subcategory: "Security"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_security_role_mapping Data Source"
description: |-
  Retrieves role mappings.
---

# Data Source: elasticstack_elasticsearch_security_role_mapping

Retrieves role mappings. See, https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-get-role-mapping.html

## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_security_role_mapping/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
