---
subcategory: "Ingest"
layout: ""
page_title: "Elasticstack: elasticstack_elasticsearch_ingest_processor_user_agent Data Source"
description: |-
  Helper data source to create a processor which extracts details from the user agent string a browser sends with its web requests.
---

# Data Source: elasticstack_elasticsearch_ingest_processor_user_agent

The `user_agent` processor extracts details from the user agent string a browser sends with its web requests. This processor adds this information by default under the `user_agent` field.

The ingest-user-agent module ships by default with the regexes.yaml made available by uap-java with an Apache 2.0 license. For more details see https://github.com/ua-parser/uap-core.


See: https://www.elastic.co/guide/en/elasticsearch/reference/current/user-agent-processor.html


## Example Usage

{{ tffile "examples/data-sources/elasticstack_elasticsearch_ingest_processor_user_agent/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
