---
subcategory: "Fleet"
layout: ""
page_title: "Elasticstack: elasticstack_fleet_enrollment_tokens Data Source"
description: |-
  Gets information about Fleet Enrollment Tokens. See https://www.elastic.co/guide/en/fleet/current/fleet-enrollment-tokens.html
---

# Data Source: elasticstack_fleet_enrollment_tokens

This data source provides information about Fleet Enrollment Tokens.

## Example Usage

{{ tffile "examples/data-sources/elasticstack_fleet_enrollment_tokens/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
