---
subcategory: "Fleet"
layout: ""
page_title: "Elasticstack: elasticstack_fleet_package Data Source"
description: |-
  Gets information about a Fleet integration package.
---

# Data Source: elasticstack_fleet_package

This data source provides information about a Fleet integration package. Currently,
the data source will retrieve the latest available version of the package. Version
selection is determined by the Fleet API, which is currently based on semantic
versioning.

By default, the highest GA release version will be selected. If a
package is not GA (the version is below 1.0.0) or if a new non-GA version of the
package is to be selected (i.e., the GA version of the package is 1.5.0, but there's
a new 1.5.1-beta version available), then the `prerelease` parameter in the plan
should be set to `true`.

## Example Usage

{{ tffile "examples/data-sources/elasticstack_fleet_package/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
