---
subcategory: "Kibana"
layout: ""
page_title: "Elasticstack: elasticstack_kibana_spaces Data Source"
description: |-
  Retrieve all Kibana spaces. See https://www.elastic.co/guide/en/kibana/master/spaces-api-get-all.html
---

# Data Source: elasticstack_kibana_spaces

Use this data source to retrieve and get information about all existing Kibana spaces. 

## Example Usage

{{ tffile "examples/data-sources/elasticstack_kibana_spaces/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
