---
subcategory: "Kibana"
layout: ""
page_title: "Elasticstack: elasticstack_kibana_security_role Data Source"
description: |-
  Retrieve a specific Kibana role. See https://www.elastic.co/guide/en/kibana/master/role-management-specific-api-get.html
---

# Data Source: elasticstack_kibana_security_role

Use this data source to get information about an existing Kibana role. 

## Example Usage

{{ tffile "examples/data-sources/elasticstack_kibana_security_role/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
